*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.product{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.s1 , .s2{
    display: flex;
    justify-content: space-between;
}
.s2{
    color: gray;
}
.box{
   width: 300px;
   height: 400px;
}
.da{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
}
.da ul{
    display: flex;
    gap: 10px;
}
.orange{
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgb(255, 119, 0);
    width: 1250px;
    color: white;
    margin: 0 auto;
}
h3{
    font-size: 16px;
}